<?xml version="1.0" encoding="utf-8"?>
<X-Trader>  	
	<Disruptor yield="threaded"></Disruptor>
	 <Compliance cancelUpperLimit="240"></Compliance>

	<L1Md addr="udp://116.228.53.144:8888" user="" password="" />
	<L2DepthMd addr="udp://172.16.84.15:10078" />
	<Subscription contracts="要订阅的合约列表文件，合约以空格分隔" />

	<Tunnel address="tcp://203.187.171.249:10910"
			brokerid=""	
		    investorid="000200000247"
		    userid="000200000247"
		    password="kys5PKK+LLskflmuyXsulgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA">
	</Tunnel>

	<MarketData config="my_quote_czce_udp.config" />

  <strategies>

	<strategy 
 	    id="10000001" 	    	      	     
	    model_file="hi5_dlcs_struct"    	     
		log_name="log"		 
		iv_name="iv/iv.txt"		 
		ev_name="ev/ev.txt" >
	    <symbol 
			name="cs1609"	
			exchange="B"
			max_pos="5"
		symbol_log_name="log"
		symbol_log_id="333"
			/>	      	       	   
    </strategy>	
 </strategies>
</X-Trader>
