<?xml version="1.0" encoding="utf-8"?>
<!-- shfe deep market-->

<matketdata_config>
  <!-- provider_type
     7: my shfe md quote  上期行情数据源 (femas一档 + udp深度)
  -->
  <provider_type>7</provider_type>

  <login>
    <serverlist note = "quote front address">
		<addr>tcp://116.228.53.144:8888</addr>
    </serverlist>
    <trade_server_addr></trade_server_addr>
    <topic>100</topic>
    <brokerid>2051</brokerid>
    <account_id>60000722</account_id>
    <password>29swXiFKXlwzzsK0SN+bdgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</password>
    <mbl_data_addrs note = "deep quote source address list">
    	<addr>udp://172.16.84.15:10078</addr>
    </mbl_data_addrs>
  </login>

  <!-- security code list, case sensitive.
  -->
  <stock_list>
	<code>a file path and its content are contracts to be subscribed which are seperated by a space </code>
  </stock_list>

  <quote_data_save note = "save config">
    <save_txt_file note = "save to file. 0:no; 1:yes;">1</save_txt_file>
    <file_name_id note = "identify file name of same type quote source"></file_name_id>
  </quote_data_save>

</matketdata_config>
