<?xml version="1.0" encoding="utf-8"?>
<!-- CZCE Level2-->

<matketdata_config>
  <!-- provider_type
     23:tap
  -->
  <provider_type>23</provider_type>

  <login>
    <serverlist note = "quote data source address">
      <addr>101.231.3.120:36666</addr>
    </serverlist>
    <trade_server_addr></trade_server_addr>
    <brokerid></brokerid>
    <account_id>mycapital</account_id>
    <password>a5OQOrhTkVSiLJ/KMa5CUgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</password>
  </login>


  <!-- subscribe all by default, no need to specify  -->
  <stock_list>
	<code>COMEX.F.GC.ALL</code>
	<code>COMEX.F.SI.ALL</code>
	<code>COMEX.F.CMX_COP.ALL</code>
<!--
	<code>LME.F.CA.3M</code>
	<code>LME.F.AH.3M</code>
	<code>LME.F.ZS.3M</code>
	<code>LME.F.NI.3M</code>
	<code>LME.F.SN.3M</code>
	<code>LME.F.PB.3M</code>
    <code>HKEX.F.HK_HNGSNG.1509</code>
    <code>BMD.F.KLCI.1509</code>
    <code>CBOT.F.TN_10Y.1509</code>
    <code>CME.F.CNH.1509</code>
    <code>COMEX.F.GC.1509</code>
    <code>ENXT_PAR.F.CAC.1509</code>
    <code>EUREX.F.DJEST50.1509</code>
    <code>ICE.F.W-CANOLA.1509</code>
    <code>ICEU.F.B.1510</code>
    <code>JPX.F.NK225.1509</code>
    <code>KSE.F.KOSPI.1509</code>
    <code>LIFFE.F.COCOA.1509</code>
    <code>LIFFE.F.FTSE100.1509</code>
    <code>LME.F.CA.3M</code>
    <code>NYBOT.F.NB_DLR.1509</code>
    <code>NYMEX.F.PL.1509</code>
    <code>SFE.F.SSPI200.1509</code>
    <code>TOCOM.F.CRUDEOIL.1509</code>
    <code>TSEJPX.F.TSE_JTI.1509</code>
-->
  </stock_list>

  <quote_data_save note = "save parameters">
    <save_txt_file note = "save to file, 0:no; 1:yes;">1</save_txt_file>
    <file_name_id note = "identify file name of same type quote source"></file_name_id>
  </quote_data_save>

</matketdata_config>
