<?xml version="1.0" encoding="utf-8"?>
<!-- DCE Level2-->

<matketdata_config>
  <!-- provider_type
     15: czce
     20: czce multi
  -->
  <provider_type>20</provider_type>

  <login>
    <serverlist note = "quote data source address">
      <addr></addr>
    </serverlist>
    <trade_server_addr></trade_server_addr>
    <brokerid></brokerid>
    <account_id></account_id>
    <password></password>
  </login>

  <!-- subscribe all by default, no need to specify  -->
  <stock_list>
  </stock_list>

  <quote_data_save note = "save parameters">
    <save_txt_file note = "save to file, 0:no; 1:yes;">1</save_txt_file>
    <file_name_id note = "identify file name of same type quote source">multi</file_name_id>
  </quote_data_save>

  <quote_cfg_file_list note = "configuration files">
    <file_name>my_quote_czce_lt.config</file_name>
    <file_name>my_quote_czce_dx.config</file_name>
  </quote_cfg_file_list>

</matketdata_config>
