<X-Trader>  	
	<Disruptor yield="spin" />
	<Compliance cancelUpperLimit="240" />


          <L1Md efh_sf_eth="ens3f0" isMulticast="false" mcIp="172.18.32.125" mcLocalIp="172.18.35.153" mcLocalPort="38242" mcPort="41213" password="" userid="" />



        <FullDepthMd addr="udp://172.18.35.255:10078" />
        <Subscription contracts="/home/u910019/domi_contr_check/cur_domi_contrs.txt" />

	

	<Tunnel brokerid="0095" 
		investorid="910101" 
		localTradeIp="172.18.35.153" 
		localTradeUDPPort="38243" 
		mac="00:0f:53:2f:80:00" 
		password="052927" 
		remoteQueryIp="172.18.35.36" 
		remoteQueryTCPPort="20001" 
		remoteTradeIp="172.18.35.37" 
		remoteTradeTCPPort="20000" 
		remoteTradeUDPPort="19999" 
		userid="9101011"
		appid="client_x-trader_2.3"
		authcode="MQUGSVB0N1DAR96V"> 
	</Tunnel>
	
	<MarketData config="my_quote_shfe_my.config" />

<models>
<strategy ev_name="ev/st301a_bu_day.txt" id="1" iv_name="iv/iv.txt" log_name="log" model_file="st301a_bu_day">
            <symbol exchange="B" max_pos="1" name="bu1912" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/st301a_cu_day.txt" id="2" iv_name="iv/iv.txt" log_name="log" model_file="st301a_cu_day">
            <symbol exchange="B" max_pos="1" name="cu1907" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/st301a_rb_day.txt" id="3" iv_name="iv/iv.txt" log_name="log" model_file="st301a_rb_day">
            <symbol exchange="B" max_pos="30" name="rb1910" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/st301a_ru_day.txt" id="4" iv_name="iv/iv.txt" log_name="log" model_file="st301a_ru_day">
            <symbol exchange="B" max_pos="1" name="ru1909" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/st301a_sc_day.txt" id="5" iv_name="iv/iv.txt" log_name="log" model_file="st301a_sc_day">
            <symbol exchange="B" max_pos="1" name="sc1906" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/st301a_sp_day.txt" id="6" iv_name="iv/iv.txt" log_name="log" model_file="st301a_sp_day">
            <symbol exchange="B" max_pos="1" name="sp1909" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/st302a_bu_day.txt" id="7" iv_name="iv/iv.txt" log_name="log" model_file="st302a_bu_day">
            <symbol exchange="B" max_pos="1" name="bu1912" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/st302a_cu_day.txt" id="8" iv_name="iv/iv.txt" log_name="log" model_file="st302a_cu_day">
            <symbol exchange="B" max_pos="1" name="cu1907" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/st302a_fu_day.txt" id="9" iv_name="iv/iv.txt" log_name="log" model_file="st302a_fu_day">
            <symbol exchange="B" max_pos="1" name="fu1909" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/st302a_rb_day.txt" id="10" iv_name="iv/iv.txt" log_name="log" model_file="st302a_rb_day">
            <symbol exchange="B" max_pos="35" name="rb1910" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/st303a_ni_day.txt" id="11" iv_name="iv/iv.txt" log_name="log" model_file="st303a_ni_day">
            <symbol exchange="B" max_pos="1" name="ni1907" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/st303a_rb_day.txt" id="12" iv_name="iv/iv.txt" log_name="log" model_file="st303a_rb_day">
            <symbol exchange="B" max_pos="30" name="rb1910" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/st303a_sp_day.txt" id="13" iv_name="iv/iv.txt" log_name="log" model_file="st303a_sp_day">
            <symbol exchange="B" max_pos="1" name="sp1909" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/st304a_rb_day.txt" id="14" iv_name="iv/iv.txt" log_name="log" model_file="st304a_rb_day">
            <symbol exchange="B" max_pos="30" name="rb1910" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/st304a_sp_day.txt" id="15" iv_name="iv/iv.txt" log_name="log" model_file="st304a_sp_day">
            <symbol exchange="B" max_pos="1" name="sp1909" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/st309a_cu_day.txt" id="16" iv_name="iv/iv.txt" log_name="log" model_file="st309a_cu_day">
            <symbol exchange="B" max_pos="1" name="cu1907" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/st309a_rb_day.txt" id="17" iv_name="iv/iv.txt" log_name="log" model_file="st309a_rb_day">
            <symbol exchange="B" max_pos="30" name="rb1910" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/st309a_sp_day.txt" id="18" iv_name="iv/iv.txt" log_name="log" model_file="st309a_sp_day">
            <symbol exchange="B" max_pos="1" name="sp1909" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/st312a_rb_day.txt" id="19" iv_name="iv/iv.txt" log_name="log" model_file="st312a_rb_day">
            <symbol exchange="B" max_pos="30" name="rb1910" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/st312a_ru_day.txt" id="20" iv_name="iv/iv.txt" log_name="log" model_file="st312a_ru_day">
            <symbol exchange="B" max_pos="1" name="ru1909" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/st313a_rb_day.txt" id="21" iv_name="iv/iv.txt" log_name="log" model_file="st313a_rb_day">
            <symbol exchange="B" max_pos="30" name="rb1910" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/st314a_cu_day.txt" id="22" iv_name="iv/iv.txt" log_name="log" model_file="st314a_cu_day">
            <symbol exchange="B" max_pos="1" name="cu1907" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/st314a_rb_day.txt" id="23" iv_name="iv/iv.txt" log_name="log" model_file="st314a_rb_day">
            <symbol exchange="B" max_pos="30" name="rb1910" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/st314a_sp_day.txt" id="24" iv_name="iv/iv.txt" log_name="log" model_file="st314a_sp_day">
            <symbol exchange="B" max_pos="1" name="sp1909" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/st315a_rb_day.txt" id="25" iv_name="iv/iv.txt" log_name="log" model_file="st315a_rb_day">
            <symbol exchange="B" max_pos="30" name="rb1910" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/st316a_rb_day.txt" id="26" iv_name="iv/iv.txt" log_name="log" model_file="st316a_rb_day">
            <symbol exchange="B" max_pos="30" name="rb1910" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/st317a_rb_day.txt" id="27" iv_name="iv/iv.txt" log_name="log" model_file="st317a_rb_day">
            <symbol exchange="B" max_pos="30" name="rb1910" symbol_log_id="333" symbol_log_name="log" />            
    </strategy></models>

</X-Trader>
