<X-Trader>  	
	   <Disruptor yield="spin" />
        <Compliance cancelUpperLimit="240" />

	<Md addr="udp://172.18.80.63:10072" />

	<L1Md addr="udp://172.22.2.12:6767" password="Es12345" user="ESUNNY" />
       <L2Md addr="udp://172.22.2.255:10071" />

<!--

          <L1Md efh_sf_eth="ens3f0" isMulticast="false" mcIp="172.18.32.125" mcLocalIp="172.18.35.153" mcLocalPort="38224" mcPort="41213" password="" userid="" />

-->

        <FullDepthMd addr="udp://172.18.35.255:10078" />
        <Subscription contracts="/home/u910019/domi_contr_check/cur_domi_contrs.txt" />


       <Tunnel 
			address="tcp://101.230.197.56:32205" 
			brokerid="2084" 
			investorid="21000031" 
			password="lcf617999" 
			userid="21000031"
			appid="client_x-trader_2.3"
			authcode="MQUGSVB0N1DAR96V">
	</Tunnel>

        <MarketData config="my_quote_shfe_my.config" />

<models>

<strategy ev_name="ev/st301a_rb_day.txt" id="1" iv_name="iv/iv.txt" log_name="log" model_file="st301a_rb_day">
            <symbol exchange="B" max_pos="50" name="rb1910" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/st301a_sp_day.txt" id="2" iv_name="iv/iv.txt" log_name="log" model_file="st301a_sp_day">
            <symbol exchange="B" max_pos="1" name="sp1906" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/st302a_rb_day.txt" id="3" iv_name="iv/iv.txt" log_name="log" model_file="st302a_rb_day">
            <symbol exchange="B" max_pos="50" name="rb1910" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/st303a_rb_day.txt" id="4" iv_name="iv/iv.txt" log_name="log" model_file="st303a_rb_day">
            <symbol exchange="B" max_pos="50" name="rb1910" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/st303a_sp_day.txt" id="5" iv_name="iv/iv.txt" log_name="log" model_file="st303a_sp_day">
            <symbol exchange="B" max_pos="1" name="sp1906" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/st309a_rb_day.txt" id="6" iv_name="iv/iv.txt" log_name="log" model_file="st309a_rb_day">
            <symbol exchange="B" max_pos="50" name="rb1910" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/st312a_rb_day.txt" id="7" iv_name="iv/iv.txt" log_name="log" model_file="st312a_rb_day">
            <symbol exchange="B" max_pos="50" name="rb1910" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/st313a_rb_day.txt" id="8" iv_name="iv/iv.txt" log_name="log" model_file="st313a_rb_day">
            <symbol exchange="B" max_pos="50" name="rb1910" symbol_log_id="333" symbol_log_name="log" />            
    </strategy></models>

</X-Trader>
