<?xml version="1.0" encoding="utf-8"?>
<X-Trader>  	
	<Tunnel 
		tunnelConfig="my_trade_tunnel_ctp_34.xml"
		tunnelSo="libctp_tunnel.so"
		initPosAtStart="0"
		modelCtrlOc="0"
		changeOcFlag="0"
		initPosFromEv="0">            
	</Tunnel>

	<MarketData config="my_quote_dce_udp.config" />

  <strategies>

	<strategy 
 	    id="10000001" 	    	      	     
	    model_file="hi5_dlcs_struct"    	     
		log_name="log"		 
		iv_name="iv/iv.txt"		 
		ev_name="ev/ev.txt" >
	    <symbol 
			name="cs1609"	
			exchange="B"
			max_pos="5"
		symbol_log_name="log"
		symbol_log_id="333"
			/>	      	       	   
    </strategy>	
 </strategies>
</X-Trader>
