<?xml version="1.0" encoding="utf-8"?>
<X-Trader>  	
	 <Disruptor yield="spin" />
        <Compliance cancelUpperLimit="240" />


  <Md addr="udp://172.18.80.63:10072" 
		user="" 
		pwd="" 
		broadcast_ip=""
		broadcast_port=""
		/>
          <Subscription contracts="/home/u910019/domi_contr_check/cur_domi_contrs.txt" />


</X-Trader>
