<?xml version="1.0" encoding="utf-8"?>
<X-Trader>  	
	   <Disruptor yield="spin" />
        <Compliance cancelUpperLimit="240" />

	  <Md addr="udp://172.18.80.63:10072" 
			user="" 
			pwd="" />

        <Subscription contracts="/home/u910019/domi_contr_check/cur_domi_contrs.txt" />

        <Tunnel 
			brokerid="0095" 
			investorid="910063" 
			localTradeIp="172.18.35.153" 
			localTradeUDPPort="38227" 
			mac="00:0f:53:2f:80:00" 
			password="106124" 
			remoteQueryIp="172.18.35.36" 
			remoteQueryTCPPort="20001" 
			remoteTradeIp="172.18.35.37" 
			remoteTradeTCPPort="20000" 
			remoteTradeUDPPort="19999" 
			userid="9100631" 
			appid="client_x-trader_2.3"
			authcode="MQUGSVB0N1DAR96V">
        </Tunnel>
<models>

	<strategy 
		ev_name="ev/st301a_rb_night.txt" 
		id="1" 
		iv_name="iv/iv.txt" 
		log_name="log" 
		model_file="st301a_rb_night"
		k_file="st_data/k.txt">
            <symbol exchange="B" max_pos="0" name="rb1901" symbol_log_id="333" symbol_log_name="log" />            
    </strategy>

</models>

</X-Trader>
