<?xml version="1.0" encoding="utf-8"?>
<MyExchange>  	
	<strategy 		
 	     init_method="st_init_"  	     
	     feed_pos_method="st_feed_init_position_" 
	     feed_init_pos_method="st_feed_init_position_" 	     
	     feed_sig_response_method="st_feed_sig_resp_"	 
	     feed_time_event_method="st_idle_"	     	     	   
	     destroy_method="st_destroy_"
	     feed_quote_notify_method="st_feed_quote_"	    
	     
	     feed_spif_quote_method="st_feed_localquote_" 
	     feed_cf_quote_method="st_feed_marketinfo_1_"
	     feed_stock_quote_method="st_feed_marketinfo_"
	     feed_full_depth_quote_method="st_feed_marketinfo_12_"   
	     MDOrderStatistic_method="st_feed_marketinfo_3_"    	
	     
	     init_option_strategy = "init_strategy_"
	     update_option_strategy ="update_strategy_"
	     get_monitor_info="get_monitor_info_"> 
    </strategy>	
</MyExchange>
