<?xml version="1.0" encoding="utf-8"?>
<X-Trader>  	
	<Disruptor yield="hybrid"></Disruptor>
	<Compliance cancelUpperLimit="240"></Compliance>

	<L1Md 
		mcIp=""
		mcPort=""
		efh_sf_eth="" 
		mcLocalIp=""
		mcLocalPort="" 
		userid="" 
		password="" 
	/>

	<FullDepthMd addr="udp://172.16.84.15:10078" />
	<Subscription contracts="要订阅的合约列表文件，合约以空格分隔" />

	<Tunnel
		remoteTradeIp="" 
		remoteTradeTCPPort="" 
		remoteTradeUDPPort=""
		remoteQueryIp=""
		remoteQueryTCPPort=""
		localTradeIp=""
		localTradeUDPPort=""
		mac=""

		brokerid=""	
		investorid="000200000247"
		userid="000200000247"
		password="sss">
	</Tunnel>

	<MarketData config="my_quote_dce_udp.config" />

  <strategies>

	<strategy 
		id="1"
		model_file="st134bt_pb_day"    	     
		log_name="log"		 
		iv_name="iv/iv.txt"		 
		ev_name="ev/ev.txt" >
	    <symbol 
			name="cs1609"	
			exchange="B"
			max_pos="5"
		symbol_log_name="log"
		symbol_log_id="333"
			/>	      	       	   
    </strategy>	
 </strategies>
</X-Trader>
