<?xml version="1.0" encoding="utf-8"?>
<X-Trader>  	
	   <Disruptor yield="spin" />
        <Compliance cancelUpperLimit="240" />

         <L1Md 
			efh_sf_eth="ens3f0" 
			isMulticast="false" 
			mcIp="172.18.32.125" 
			mcLocalIp="172.18.35.153" 
			mcLocalPort="38226" 
			mcPort="41213" 
			password="" 
			userid="" />

        <EfhLev2  remote_ip="组播行情远端地址"   
				  remote_port="组播行情远端端口"
				  local_ip="组播本机地址" 
				  local_port="组播本机端口"
		/>
        <Subscription contracts="/home/u910019/domi_contr_check/cur_domi_contrs.txt" />

        <Tunnel 
			brokerid="0095" 
			investorid="910063" 
			localTradeIp="172.18.35.153" 
			localTradeUDPPort="38227" 
			mac="00:0f:53:2f:80:00" 
			password="106124" 
			remoteQueryIp="172.18.35.36" 
			remoteQueryTCPPort="20001" 
			remoteTradeIp="172.18.35.37" 
			remoteTradeTCPPort="20000" 
			remoteTradeUDPPort="19999" 
			userid="9100631" 
			appid="client_x-trader_2.3"
			authcode="MQUGSVB0N1DAR96V">
        </Tunnel>
<models>

	<strategy 
		ev_name="ev/st301a_rb_night.txt" 
		id="1" 
		iv_name="iv/iv.txt" 
		log_name="log" 
		model_file="st301a_rb_night"
		k_file="st_data/k.txt">
            <symbol exchange="B" max_pos="0" name="rb1901" symbol_log_id="333" symbol_log_name="log" />            
    </strategy>

</models>

</X-Trader>
