<?xml version="1.0" encoding="utf-8"?>
<X-Trader>  	
	<Disruptor yield="threaded"></Disruptor>
	 <Compliance cancelUpperLimit="240"></Compliance>
	
	 <L1Md  isMulticast="false" 
			mcIp="172.18.32.125" 
			mcPort="42213" />
			
	
	<L2Md addr="udp://172.16.84.15:10078" />
	<Subscription contracts="要订阅的合约列表文件，合约以空格分隔" />

	<Tunnel address="tcp://203.187.171.249:10910"
			brokerid=""	
		    investorid="000200000247"
		    userid="000200000247"
		    password="kys5PKK+LLskflmuyXsulgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
			appid="client_x-trader_2.3"
			authcode="MQUGSVB0N1DAR96V"
			udpserverip=""
			udpserverport=""
			upperchannel=""
			>
	</Tunnel>

  <strategies>

	<strategy 
 	    id="10000001" 	    	      	     
	    model_file="hi5_dlcs_struct"    	     
		log_name="log"		 
		iv_name="iv/iv.txt"		 
		ev_name="ev/ev.txt" 
		k_file="st_data/k.txt">
			<symbol 
				name="cs1609"	
				exchange="B"
				max_pos="5"
				symbol_log_name="log"
				symbol_log_id="333" />	      	       	   
    </strategy>	
 </strategies>
</X-Trader>
