<?xml version="1.0" encoding="utf-8"?>
<!-- CTP quote server-->

<matketdata_config>
  <!-- provider_type
     3: ctp               ctp一档数据源
  -->
  <provider_type>3</provider_type>

  <login>
    <serverlist note = "quote front address">
    <addr>tcp://180.166.37.188:41213</addr>
    </serverlist>
    <trade_server_addr>tcp://180.166.37.188:41205</trade_server_addr>
    <brokerid>1020</brokerid>
    <account_id>00000047</account_id>
    <password>29swXiFKXlwzzsK0SN+bdgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</password>
  </login>

  <!-- security code list
     case sensitive
     All for subscribe all securities of market
  -->
  <stock_list>
    <code>All</code>
  </stock_list>
  
  <quote_data_save note = "save config">
    <save_txt_file note = "save to file. 0:no; 1:yes;">1</save_txt_file>
    <file_name_id note = "identify file name of same type quote source">ctp</file_name_id>
  </quote_data_save>
  
</matketdata_config>
