<?xml version="1.0" encoding="utf-8"?>
<X-Trader>  	
	 <Disruptor yield="spin" />
        <Compliance cancelUpperLimit="240" />

	<Tunnel 
		address="tcp://10.7.159.68:50001" 
		brokerid="" 
		investorid="000000910229" 
		password="226022modify" 
		userid="000000910229"
		appid="client_x-trader_2.3"
		authcode="MQUGSVB0N1DAR96V">
	</Tunnel>

  <Md addr="udp://172.18.80.63:10072" />
          <Subscription contracts="/home/u910019/domi_contr_check/cur_domi_contrs.txt" />


  <strategies>

	<strategy 
		ev_name="ev/st301a_dlj_day.txt" 
		id="1" 
		iv_name="iv/iv.txt" 
		log_name="log" 
		model_file="st301a_dlj_day"
		k_file="st_data/k.txt">
			<symbol exchange="B" max_pos="1" name="j1909" symbol_log_id="333" symbol_log_name="log" />	      	       	   
    </strategy>
	</strategies>
</X-Trader>
