<X-Trader>  	
	 <Disruptor yield="spin" />
        <Compliance cancelUpperLimit="240" />

	<Tunnel 
		address="tcp://10.7.159.68:50001" 
		brokerid="" 
		investorid="000000910229" 
		password="226022modify" 
		userid="000000910229"
		appid="client_x-trader_2.3"
		authcode="MQUGSVB0N1DAR96V">
	</Tunnel>

  <Md addr="udp://172.18.80.63:10072" />
          <Subscription contracts="/home/u910019/domi_contr_check/cur_domi_contrs.txt" />


  <strategies>

<strategy ev_name="ev/st301a_dlj_day.txt" id="1" iv_name="iv/iv.txt" log_name="log" model_file="st301a_dlj_day">
	    <symbol exchange="B" max_pos="1" name="j1909" symbol_log_id="333" symbol_log_name="log" />	      	       	   
    </strategy><strategy ev_name="ev/st301a_dljd_day.txt" id="2" iv_name="iv/iv.txt" log_name="log" model_file="st301a_dljd_day">
	    <symbol exchange="B" max_pos="1" name="jd1909" symbol_log_id="333" symbol_log_name="log" />	      	       	   
    </strategy><strategy ev_name="ev/st301a_dljm_day.txt" id="3" iv_name="iv/iv.txt" log_name="log" model_file="st301a_dljm_day">
	    <symbol exchange="B" max_pos="1" name="jm1909" symbol_log_id="333" symbol_log_name="log" />	      	       	   
    </strategy><strategy ev_name="ev/st302a_dlj_day.txt" id="4" iv_name="iv/iv.txt" log_name="log" model_file="st302a_dlj_day">
	    <symbol exchange="B" max_pos="1" name="j1909" symbol_log_id="333" symbol_log_name="log" />	      	       	   
    </strategy><strategy ev_name="ev/st303a_dlj_day.txt" id="5" iv_name="iv/iv.txt" log_name="log" model_file="st303a_dlj_day">
	    <symbol exchange="B" max_pos="1" name="j1909" symbol_log_id="333" symbol_log_name="log" />	      	       	   
    </strategy><strategy ev_name="ev/st303a_dljd_day.txt" id="6" iv_name="iv/iv.txt" log_name="log" model_file="st303a_dljd_day">
	    <symbol exchange="B" max_pos="1" name="jd1909" symbol_log_id="333" symbol_log_name="log" />	      	       	   
    </strategy><strategy ev_name="ev/st303a_dljm_day.txt" id="7" iv_name="iv/iv.txt" log_name="log" model_file="st303a_dljm_day">
	    <symbol exchange="B" max_pos="1" name="jm1909" symbol_log_id="333" symbol_log_name="log" />	      	       	   
    </strategy><strategy ev_name="ev/st309a_dlj_day.txt" id="8" iv_name="iv/iv.txt" log_name="log" model_file="st309a_dlj_day">
	    <symbol exchange="B" max_pos="1" name="j1909" symbol_log_id="333" symbol_log_name="log" />	      	       	   
    </strategy><strategy ev_name="ev/st309a_dljd_day.txt" id="9" iv_name="iv/iv.txt" log_name="log" model_file="st309a_dljd_day">
	    <symbol exchange="B" max_pos="1" name="jd1909" symbol_log_id="333" symbol_log_name="log" />	      	       	   
    </strategy><strategy ev_name="ev/st309a_dljm_day.txt" id="10" iv_name="iv/iv.txt" log_name="log" model_file="st309a_dljm_day">
	    <symbol exchange="B" max_pos="1" name="jm1909" symbol_log_id="333" symbol_log_name="log" />	      	       	   
    </strategy><strategy ev_name="ev/st310a_dlj_day.txt" id="11" iv_name="iv/iv.txt" log_name="log" model_file="st310a_dlj_day">
	    <symbol exchange="B" max_pos="1" name="j1909" symbol_log_id="333" symbol_log_name="log" />	      	       	   
    </strategy><strategy ev_name="ev/st310a_dljm_day.txt" id="12" iv_name="iv/iv.txt" log_name="log" model_file="st310a_dljm_day">
	    <symbol exchange="B" max_pos="1" name="jm1909" symbol_log_id="333" symbol_log_name="log" />	      	       	   
    </strategy><strategy ev_name="ev/st315a_dlm_day.txt" id="13" iv_name="iv/iv.txt" log_name="log" model_file="st315a_dlm_day">
	    <symbol exchange="B" max_pos="4" name="m1909" symbol_log_id="333" symbol_log_name="log" />	      	       	   
    </strategy></strategies>
</X-Trader>
